<div class="contain sign-up-mode">
    <div class="forms-contain">
      <div class="signin-signup">
  
        <form class="sign-up-form">
          <h2 class="title">Inscription</h2>
  
          <div class="input-field">
            <i icon="user"></i>
            <input type="text" placeholder="Prénom et Nom" name="name"/>
            <div class="invalid-feedback">
              <div>
                Champ obligatoire
              </div>
            </div>
          </div>
  
          <div class="input-field">
            <i icon="envelope"></i>
            <input type="email" name="email" placeholder="Adresse Email"/>
            <div class="invalid-feedback">
              <div>
                Champ obligatoire
              </div>
  
              <div>
                Format invalide
              </div>
            </div>
          </div>
  
          <div class="input-field">
            <i icon="lock"></i>
            <input type="password" placeholder="Mot de Passe" name="password" formControlName="password"/>
            <div class="invalid-feedback">
              <div>
                Champ obligatoire
              </div>
              <div>
                Trop court
              </div>
            </div>
          </div>
  
          <div class="input-field">
            <i icon="lock"></i>
            <input type="password" placeholder="Confirmer Son Mot de Passe" name="confirmPassword"/>
            <div class="invalid-feedback">
              <div>
                Champ obligatoire
              </div>
              <div>
                Incorrect
              </div>
            </div>
          </div>
  
          <button type="submit" class="btn" style="background-color: rgb(0, 133, 29)" class="btn btn-hover2" value="S'inscrire">S'inscrire</button>
        </form>
      </div>
    </div>
  
    <div class="panels-contain">
      <div class="panel left-panel">
        <!-- <img src="assets/img/log.svg" class="image" alt="" /> -->
      </div>
      <div class="panel right-panel">
    
        <img src="/assets/img/gallery/sign-up-rafiki.svg" class="image" alt="dame assise sur un bureau devant un écran" />
      </div>
    </div>
  </div>
