<section>
  <div class="contain sign-up-mode">
    <div class="forms-contain">
      <div class="signin-signup">
        <form class="sign-up-form">
          <div
            class="d-flex"
            style="
            border-radius: 25px;
              justify-content: center;
              background-color: rgb(250, 250, 250);
              border: 0px solid rgba(0, 0, 0, 0.327);
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              width: 450px;
              padding: 30px;
            "
          >
            <div style="width: 100%">
              <h1
                style="
                  font-weight: bolder;
                  text-align: center;
                  color: rgba(0, 0, 0, 0.5);
                "
              >
                Inscription
              </h1>

              <div class="input-field">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="Prénom et Nom" name="name" />
                <div class="invalid-feedback">
                  <div>Champ obligatoire</div>
                </div>
              </div>

              <div class="input-field">
                <i class="fa fa-envelope"></i>
                <input type="email" name="email" placeholder="Adresse Email" />
                <div class="invalid-feedback">
                  <div>Champ obligatoire</div>

                  <div>Format invalide</div>
                </div>
              </div>

              <div class="input-field">
                <i class="fa fa-lock"></i>
                <input
                  type="password"
                  placeholder="Mot de Passe"
                  name="password"
                  formControlName="password"
                />
                <div class="invalid-feedback">
                  <div>Champ obligatoire</div>
                  <div>Trop court</div>
                </div>
              </div>

              <div class="input-field">
                <i class="fa fa-lock"></i>
                <input
                  type="password"
                  placeholder="Confirmer Son Mot de Passe"
                  name="confirmPassword"
                />
                <div class="invalid-feedback">
                  <div>Champ obligatoire</div>
                  <div>Incorrect</div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="btn w-50"
  
                  
                >
                  S'inscrire
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="panels-contain">
      <div class="panel left-panel">
        <!-- <img src="assets/img/log.svg" class="image" alt="" /> -->
      </div>
      <div class="panel right-panel">
        <img
          src="/assets/img/gallery/sign-up-rafiki.svg"
          class="image"
          alt="dame assise sur un bureau devant un écran"
        />
      </div>
    </div>
  </div>
</section>
