<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-5 mt-5" id="invest">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-xl-9 mb-3">
        <div class="row">
          <div class="col-lg-9 mb-3">
            <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3"></h5>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img src="/assets/img/gallery/teachers/handsometeachersmile.png" style="
                                width: 200px;
                                padding: 5px;

                                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                                  rgba(0, 0, 0, 0.23) 0px 3px 6px;
                              " class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5 class="card-title" style="
                                  font-family: 'Montserrat';
                                  font-size: 1rem;
                                  text-transform: uppercase;
                                  color: rgb(0, 133, 29);
                                  font-weight: 400;
                                ">
                      Le SOL
                    </h5>
                    <p class="card-text" style="
                                  font-family: 'Montserrat';
                                  font-size: 1rem;
                                  font-weight: 4 00;
                                ">
                      Le sol est la partie vivante de la géosphère, constituant la couche la plus externe de la croûte terrestre, résultant de
                      l'interaction entre la lithosphère
                    </p>
                    <p class="card-text" style="
                                  font-family: 'Montserrat';
                                  font-size: 1rem;
                                  font-weight: 4 00;
                                ">
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/blackteacherlookingupexplaining.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      Culture en SOL
                    </h5>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
L’hydroponie ou culture hydroponique, est la culture de plantes réalisée sur un substrat neutre et inerte, ce substrat
étant irrigué d’un courant de solution qui apporte des sels minéraux et des nutriments essentiels à la plante.
</p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/fatwomenteachersmiling.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      Le Substrat Solide
                    </h5>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                    L'invention concerne un fermenteur à milieu solide pour la mise en culture de micro-organisme sur des substrats solides,
                    en particulier pour de grands volumes.
                    </p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/teacherblacksmile.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      suivi des jardins potagers
                    </h5>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                    Il s’agit d’un processus interactif au cours duquel les agents de terrain facilitent l’apprentissage et l’analyse, non
                    seulement pour eux-mêmes mais aussi pour les ménages et les membres de la communauté.
                    </p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
