<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-5 mt-5" id="invest">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-xl-9 mb-3">
        <div class="row">
          <div class="col-lg-9 mb-3">
            <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Plus...</h5>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/blackteacherlookingupexplaining.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      LE SOL
                    </h5>

                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 900;
                        line-height: 0.5;
                      "
                    >
                      Apprenez à distinguer les différents types de sols.
                    </h5>

                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      Vous avez du mal à maitriser la structure des différents types de sol. Dans ce cours vous aurez toutes les bases afin de bien gérer votre sol. 
                    </p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/fatwomenteachersmiling.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      Card title
                    </h5>
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 900;
                        line-height: 0.5;
                      "
                    >
                      Card title
                    </h5>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/handsometeachersmile.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      Card title
                    </h5>
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 900;
                        line-height: 0.5;
                      "
                    >
                      Card title
                    </h5>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/beautifulwomen.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      Card title
                    </h5>
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 900;
                        line-height: 0.5;
                      "
                    >
                      Card title
                    </h5>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/teacherblacksmile.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      Card title
                    </h5>
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 900;
                        line-height: 0.5;
                      "
                    >
                      Card title
                    </h5>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/teacherChinese.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      Card title
                    </h5>
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 900;
                        line-height: 0.5;
                      "
                    >
                      Card title
                    </h5>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/teacherwithwiteteethsmiling.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      Card title
                    </h5>
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 900;
                        line-height: 0.5;
                      "
                    >
                      Card title
                    </h5>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="card mb-3" style="max-width: 1240px">
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="/assets/img/gallery/teachers/womenteachersmile.png"
                    style="
                      width: 200px;
                      padding: 5px;

                      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                        rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    "
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        text-transform: uppercase;
                        color: rgb(0, 133, 29);
                        font-weight: 400;
                      "
                    >
                      Card title
                    </h5>
                    <h5
                      class="card-title"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 900;
                        line-height: 0.5;
                      "
                    >
                      Card title
                    </h5>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                    <p
                      class="card-text"
                      style="
                        font-family: 'Montserrat';
                        font-size: 1rem;
                        font-weight: 4 00;
                      "
                    >
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
